@import url("normalize.css");

body {
color: #000305;
font-size: 90%;
margin: 0;
text-align: left;
}

header {
margin: 20px;
padding-left: 100px;
padding-right: 100px;
margin-bottom: 0px;
border-bottom: 1px solid #aaa;
}

section {
padding-left: 100px;
padding-right: 100px;
}

p {
line-height:1.5em;
margin-bottom:1.5em;
}

section a { color: #bf1e2d; }
section a:after { content: "→" }

section a:link,
section a:visited {
color: #bf1e2d;
padding: 0 0 1px;
text-decoration: none;
}

blockquote {
color:#666;
font-style:italic;
margin:2em;
}

em,dfn { font-style:italic; }
sup,sub { line-height:0; }
abbr,acronym { border-bottom:1px dotted #666; }

address {
font-style:italic;
margin:0 0 1.5em;
}

pre,code {
margin:1.5em 0;
white-space:pre;
}

pre {
background:#f2f2f2;
border:dashed 1px #ccc;
padding:4px;
}

tt {
display:block;
line-height:1.5;
margin:1.5em 0;
}

pre,code,tt {
color:#000805;
font-family:'Droid Sans Mono',monospace;
font-size:1.0em;
}

ul li,ol li {
margin-bottom:3px;
margin-top:3px;
}

ol { list-style-type:decimal; }
dl { margin:0 0 1.5em; }
dd { margin-left:1.5em; }

.wrapper {
border: 1px solid #aaa;
padding: 5px;
margin: 20px;
padding: 3px;
float: left;
background: #fff;
overflow: auto;
}

.class {
display: block;
background: #F4F4F4;
color: #000;
text-decoration: none;
padding: 3px;
width: 120px;
height: 120px;
overflow: hidden;
position: relative;
}

.class:hover {
background: #50B5FF;
}

.class h1 {
display: inline-block;
font-size: 2em;
font-weight: bold;
position: absolute;
padding-left: 5px;
padding-bottom: 0px;
margin-bottom: 0px;
bottom: -3px;
right: -5px;
}

.set {
padding: 20px;
overflow: auto;
}

#archived {
background: #F4F4F4;
}

footer {
font-style: italic;
padding-top: 10px;
clear: left;
padding-left: 100px;
padding-right: 100px;
}
